*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    padding: 10px;
    background-color: #2196f3;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
}

.grid-items{
    background-color: #d3eafd;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}

.grid-items:first-child{
    grid-column: 1/2;
    grid-row: 1/3;
}